@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,italic,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Yellowtail:regular&display=swap");
:root {
  --color-primary: #274c5b;
  --color-secondary: #7eb693;
  --color-yellow: #efd372;
  --color-text-main: #525c60;
  --color-light-gray: #f9f8f8;
  --color-light-blue: #eff6f1;
  --color-white: #fff;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 0.9375rem;
  max-width: 89.375rem;
}

.text {
  color: var(--color-primary);
  font-weight: 700;
  line-height: 1.17;
  font-family: "Roboto", sans-serif;
}
.text--h1 {
  font-size: 70px;
}
.text--h2 {
  font-size: 50px;
}
.text--h3 {
  font-size: 40px;
}
.text--h4 {
  font-size: 35px;
}
.text--h5 {
  font-size: 30px;
}
.text--h6 {
  font-size: 25px;
}

.pretitle {
  margin-bottom: 8px;
  color: var(--color-secondary);
  font-size: 36px;
  font-family: "Yellowtail", cursive;
  line-height: normal;
}
.pretitle--white {
  color: #fff;
}
.pretitle--small {
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 22px;
}

.button-common, .contact-form__submit, .product__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 28px 39px;
  max-height: 79px;
  min-width: 220px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-primary);
  border-radius: 16px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-common svg, .contact-form__submit svg, .product__button svg {
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-common:hover, .contact-form__submit:hover, .product__button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.button-common:hover svg, .contact-form__submit:hover svg, .product__button:hover svg {
  transform: scale(1.5);
}
.button-common--yellow, .product__button {
  color: var(--color-primary);
  background-color: var(--color-yellow);
}
.button-common--white {
  color: var(--color-primary);
  background-color: #fff;
  outline: 2px solid var(--color-primary);
}

.link-hover:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.locked {
  overflow: hidden;
  touch-action: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  min-width: 320px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: var(--color-text-main);
  font-size: 18px;
  line-height: 1.65;
  font-family: "Open Sans", sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

input,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

sup {
  color: inherit;
}

address {
  font-style: normal;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--color-primary);
  font-size: 38px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: normal;
}
.logo svg {
  margin-right: 8px;
}

.socials {
  display: flex;
  gap: 15px;
}
.socials__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: var(--color-light-blue);
  border-radius: 50%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.socials__link:hover svg {
  transform: scale(1.5);
}
.socials__link svg {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 335px;
  height: 483px;
  color: var(--color-primary);
  background-color: var(--color-light-gray);
  border-radius: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.product:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.product:hover .product__button-backdrop {
  opacity: 1 !important;
}
.product__tag {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 6px 12px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.36;
  background-color: var(--color-primary);
  border-radius: 8px;
}
.product__image {
  mix-blend-mode: multiply;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  max-height: 324px;
}
.product__details {
  padding: 0 30px 17px 30px;
}
.product__title {
  margin-bottom: 6px;
  padding-bottom: 13px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.17;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #dedddd;
}
.product__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__price, .product__discount {
  font-weight: 700;
  line-height: 1.38;
}
.product__price--discounted {
  color: #b8b8b8;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.36;
  text-decoration: line-through;
}
.product__discount {
  margin-left: 8px;
}
.product__button-backdrop {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__button:disabled {
  color: #fff;
  background-color: var(--color-primary);
}

.blogs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  -moz-column-gap: 46px;
       column-gap: 46px;
  row-gap: 115px;
}
@media (max-width: 61.99875em) {
  .blogs {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 29.99875em) {
  .blogs {
    row-gap: 200px;
  }
}
.blogs__item {
  position: relative;
}
@media (max-width: 61.99875em) {
  .blogs__item {
    max-width: 677px;
  }
}
.blogs__item img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.blogs__date {
  position: absolute;
  top: 43px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 82px;
  color: var(--color-primary);
  font-weight: 700;
  line-height: 1.1;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  border-radius: 50%;
}
@media (max-width: 85.37375em) {
  .blogs__date {
    top: 32px;
    width: 72px;
    height: 72px;
  }
}
@media (max-width: 29.99875em) {
  .blogs__date {
    top: 16px;
    left: 16px;
    width: 62px;
    height: 62px;
  }
}
.blogs__date--day {
  font-size: 25px;
}
@media (max-width: 85.37375em) {
  .blogs__date--day {
    font-size: 22px;
  }
}
@media (max-width: 29.99875em) {
  .blogs__date--day {
    font-size: 20px;
  }
}
.blogs__date--month {
  font-size: 20px;
}
@media (max-width: 85.37375em) {
  .blogs__date--month {
    font-size: 18px;
  }
}
@media (max-width: 29.99875em) {
  .blogs__date--month {
    font-size: 16px;
  }
}
.blogs__details {
  position: absolute;
  bottom: -68px;
  left: 50%;
  transform: translateX(-50%);
  padding: 46px 57px 60px 57px;
  width: 100%;
  max-width: 90.5465288035%;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 20px 35px rgba(166, 166, 166, 0.25);
}
@media (max-width: 85.37375em) {
  .blogs__details {
    padding: 30px;
  }
}
@media (max-width: 29.99875em) {
  .blogs__details {
    bottom: -148px;
  }
}
.blogs__details > *:not(:last-child) {
  margin-bottom: 15px;
}
.blogs__details .text--h6 {
  margin-bottom: 2px;
}
@media (max-width: 85.37375em) {
  .blogs__details .text--h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media (max-width: 29.99875em) {
  .blogs__details .text--h6 {
    font-size: 22px;
  }
}
.blogs__author {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--color-primary);
  line-height: normal;
}
.blogs__text {
  max-width: 465px;
}
.blogs__text > p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media (max-width: 29.99875em) {
  .blogs .button-common, .blogs .contact-form__submit, .blogs .product__button {
    margin: 0 auto;
    padding: 20px 30px;
    min-width: 190px;
    max-height: 74px;
  }
}

.newsletter__container {
  padding-top: 140px;
}
@media (max-width: 29.99875em) {
  .newsletter__container {
    padding-top: 120px;
  }
}
.newsletter__wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding-inline: 71px;
  height: 323px;
  background-image: url("./../images/newsletter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}
@media (max-width: 85.37375em) {
  .newsletter__wrapper {
    padding-inline: 51px;
    height: 295px;
  }
}
@media (max-width: 47.99875em) {
  .newsletter__wrapper {
    flex-direction: column;
    padding-block: 40px;
    height: 388px;
  }
}
@media (max-width: 29.99875em) {
  .newsletter__wrapper {
    padding: 30px 20px;
    height: 330px;
  }
}
.newsletter__wrapper .text--h2 {
  color: #fff;
  max-width: 357px;
}
@media (max-width: 47.99875em) {
  .newsletter__wrapper .text--h2 {
    max-width: 563px;
    text-align: center;
    font-size: 45px;
  }
}
@media (max-width: 29.99875em) {
  .newsletter__wrapper .text--h2 {
    font-size: 37px;
  }
}
.newsletter__form {
  display: flex;
  gap: 6px;
}
@media (max-width: 61.99875em) {
  .newsletter__form {
    flex-direction: column;
    gap: 12px;
  }
}
@media (max-width: 47.99875em) {
  .newsletter__form {
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 29.99875em) {
  .newsletter__form {
    align-items: initial;
  }
}
.newsletter__form input {
  padding-inline: 23px;
  width: 349px;
  height: 79px;
  border-radius: 16px;
  outline: none;
}
@media (max-width: 47.99875em) {
  .newsletter__form input {
    width: 100%;
  }
}
@media (max-width: 29.99875em) {
  .newsletter__form input {
    height: 69px;
  }
}
.newsletter__form input::-moz-placeholder {
  font-style: italic;
  font-family: "Roboto", sans-serif;
  opacity: 0.6;
}
.newsletter__form input::placeholder {
  font-style: italic;
  font-family: "Roboto", sans-serif;
  opacity: 0.6;
}
.newsletter__form svg {
  display: none;
}
@media (max-width: 29.99875em) {
  .newsletter .button-common, .newsletter .contact-form__submit, .newsletter .product__button {
    padding-block: 23px;
  }
}

.page-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 89.375em) {
  .page-banner {
    height: 28.125rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (height: clamp( 15.625rem , 12.0213963964rem  +  18.018018018vw , 28.125rem )) {
    .page-banner {
      height: clamp( 15.625rem , 12.0213963964rem  +  18.018018018vw , 28.125rem );
    }
  }
  @supports not (height: clamp( 15.625rem , 12.0213963964rem  +  18.018018018vw , 28.125rem )) {
    .page-banner {
      height: calc(
        15.625rem + 12.5 * (100vw - 20rem) / 69.375
      );
    }
  }
}
@media (max-width: 20em) {
  .page-banner {
    height: 15.625rem;
  }
}
.page-banner__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (min-width: 89.375em) {
  .page-banner .text--h1 {
    font-size: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 3.25rem , 2.9256756757rem  +  1.6216216216vw , 4.375rem )) {
    .page-banner .text--h1 {
      font-size: clamp( 3.25rem , 2.9256756757rem  +  1.6216216216vw , 4.375rem );
    }
  }
  @supports not (font-size: clamp( 3.25rem , 2.9256756757rem  +  1.6216216216vw , 4.375rem )) {
    .page-banner .text--h1 {
      font-size: calc(
        3.25rem + 1.125 * (100vw - 20rem) / 69.375
      );
    }
  }
}
@media (max-width: 20em) {
  .page-banner .text--h1 {
    font-size: 3.25rem;
  }
}

.experts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 26px;
       column-gap: 26px;
  row-gap: 42px;
}

.expert {
  width: 449px;
  border-radius: 30px;
}
.expert:hover .expert__details {
  background-color: #fff;
  box-shadow: 0px 29px 44px rgba(149, 149, 149, 0.25);
}
.expert img {
  width: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.expert__details {
  display: flex;
  justify-content: space-between;
  padding: 35px 28px;
  background-color: var(--color-light-gray);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow;
}
@media (max-width: 29.99875em) {
  .expert__details {
    flex-direction: column;
    padding: 20px;
  }
}
@media (max-width: 29.99875em) {
  .expert .text--h6 {
    font-size: 22px;
  }
}

.expert-socials {
  display: flex;
  gap: 17px;
  align-self: flex-end;
}
.expert-socials__link:hover svg {
  transform: scale(1.5);
}
.expert-socials__link svg {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  flex-shrink: 0;
  background-color: var(--color-white);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  max-width: 1596px;
  padding-top: 11px;
  padding-bottom: 11px;
  min-height: 204px;
}
@media (max-width: 85.37375em) {
  .header__container {
    min-height: 154px;
  }
}
@media (max-width: 47.99875em) {
  .header__container {
    min-height: 104px;
  }
}
.header__menu-block {
  display: none;
}
@media (max-width: 85.37375em) {
  .header__menu-block {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 47.99875em) {
  .header__menu-block {
    gap: 0;
    width: calc(100% - 30px);
  }
}
@media (max-width: 47.99875em) and (max-width: 29.99875em) {
  .header__menu-block {
    width: 100%;
  }
}
@media (max-width: 47.99875em) {
  .header__menu-block div {
    margin: 0 auto;
  }
}
@media (max-width: 29.99875em) {
  .header__menu-block div {
    margin: 0;
    margin-left: auto;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 85.37375em) {
  .header__burger {
    display: flex;
    align-items: center;
    background-color: transparent;
  }
}

.menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  z-index: 11;
}
@media (max-width: 85.37375em) {
  .menu {
    position: fixed;
    top: 0;
    left: -105%;
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    padding: 30px;
    width: 500px;
    height: 100%;
    background-color: #fff;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 50ms;
    overflow: auto;
  }
}
@media (max-width: 85.37375em) and (max-width: 47.99875em) {
  .menu {
    width: 80%;
    max-width: 500px;
  }
}
@media (max-width: 85.37375em) and (max-width: 29.99875em) {
  .menu {
    width: 100%;
  }
}
@media (max-width: 85.37375em) {
  .menu__backdrop--active + .menu {
    left: 0;
  }
}
.menu__wrapper {
  position: relative;
  display: flex;
  gap: 70px;
  width: 930px;
  z-index: 5;
}
@media (max-width: 85.37375em) {
  .menu__wrapper {
    position: fixed;
  }
}
.menu__backdrop, .cart__backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 200ms;
  z-index: 10;
}
@media (max-width: 85.37375em) {
  .menu__backdrop, .cart__backdrop {
    inset: 0;
  }
}
.menu__backdrop--active {
  opacity: 1;
  pointer-events: all;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.menu__menu-block {
  display: none;
}
@media (max-width: 85.37375em) {
  .menu__menu-block {
    display: flex;
    width: 100%;
  }
}
.menu__btn-close, .cart-product__delete, .cart__close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 6px 12px;
  width: 56px;
  height: 56px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__btn-close:hover, .cart-product__delete:hover, .cart__close:hover {
  background-color: var(--color-light-gray);
}
.menu__list {
  display: flex;
  gap: 44px;
}
@media (max-width: 85.37375em) {
  .menu__list {
    flex-direction: column;
    justify-content: center;
    gap: 22px;
    font-size: 32px;
  }
}
.menu__link, .menu-dropdown__btn {
  display: flex;
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 85.37375em) {
  .menu__link, .menu-dropdown__btn {
    justify-content: center;
    font-size: 32px;
  }
}
.menu__link:hover, .menu-dropdown__btn:hover {
  color: var(--color-secondary);
}

.menu-dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}
@media (max-width: 85.37375em) {
  .menu-dropdown {
    flex-direction: column;
  }
}
.menu-dropdown__btn {
  align-items: center;
  gap: 4px;
  background-color: #fff;
}
.menu-dropdown__btn:hover svg {
  fill: var(--color-secondary);
}
.menu-dropdown__btn--active {
  color: var(--color-secondary);
}
.menu-dropdown__icon {
  margin-top: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-dropdown__icon--rotate {
  transform: rotate(180deg);
}
.menu-dropdown__options {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 0;
  background-color: #fff;
  width: 150px;
  color: var(--color-primary);
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  border: 1px solid var(--color-light-gray);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@media (max-width: 85.37375em) {
  .menu-dropdown__options {
    position: static;
    margin-top: 22px;
    width: 280px;
    text-align: center;
    background-color: var(--color-light-gray);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
}
.menu-dropdown__options--hidden {
  display: none;
}
.menu-dropdown__item {
  padding: 5px 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-dropdown__item:not(:last-child) {
  border-bottom: 1px solid var(--color-light-gray);
}
.menu-dropdown__item:hover {
  color: var(--color-secondary);
  background-color: var(--color-light-gray);
}
.menu-dropdown__item a {
  display: inline-block;
  width: 100%;
}

.header-actions {
  display: flex;
  gap: 18px;
  align-items: center;
  width: 553px;
  height: 66px;
}
@media (max-width: 47.99875em) {
  .header-actions {
    width: 100%;
  }
}
@media (max-width: 47.99875em) {
  .header-actions {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.header-actions__search {
  position: relative;
  display: flex;
  width: 100%;
  height: 66px;
}
.header-actions__cart {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 12px;
  padding: 5px 6px;
  width: 159px;
  color: var(--color-primary);
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  border-radius: 36px;
  outline: 1px solid #e0e0e0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header-actions__input {
  padding: 0 80px 0 30px;
  width: 100%;
  background-color: #fafafa;
  border-radius: 36px;
  outline: 1px solid #e0e0e0;
  transition: outline 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-actions__input::-moz-placeholder {
  opacity: 0.5;
}
.header-actions__input::placeholder {
  opacity: 0.5;
}
.header-actions__input:focus {
  outline-color: var(--color-secondary);
}
.header-actions__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.header-actions__button--search {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  background-color: var(--color-secondary);
}
.header-actions__button--cart {
  background-color: var(--color-primary);
}

.hero {
  max-width: 100%;
  height: 898px;
  background-image: url("./../images/Home/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 61.99875em) {
  .hero {
    height: 808px;
    background-position: left 30% top 0;
  }
}
@media (max-width: 47.99875em) {
  .hero {
    height: 608px;
  }
}
@media (max-width: 47.99875em) {
  .hero {
    height: 508px;
  }
}
.hero__container {
  display: flex;
  align-items: center;
  height: 100%;
}
.hero .text--h1 {
  margin-bottom: 23px;
  max-width: 510px;
}
@media (max-width: 47.99875em) {
  .hero .text--h1 {
    max-width: 364px;
    font-size: 50px;
  }
}
@media (max-width: 29.99875em) {
  .hero .text--h1 {
    max-width: 335px;
    font-size: 46px;
  }
}

.promos__container {
  padding-top: 154px;
  padding-bottom: 190px;
}
@media (max-width: 85.37375em) {
  .promos__container {
    padding-top: 104px;
    padding-bottom: 140px;
  }
}
@media (max-width: 61.99875em) {
  .promos__container {
    padding-top: 77px;
    padding-bottom: 95px;
  }
}
.promos__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.promos__list li:first-child .text--h3 {
  color: #fff;
}
@media (max-width: 61.99875em) {
  .promos__list {
    flex-direction: column;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.promos__link {
  position: relative;
  display: inline-block;
}
.promos__link:hover img {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.promos__link img {
  width: 100%;
  border-radius: 30px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 47.99875em) {
  .promos__link img {
    border-radius: 20px;
  }
}
.promos__content {
  position: absolute;
  top: 50%;
  left: 55px;
  transform: translateY(-50%);
}
@media (max-width: 29.99875em) {
  .promos__content {
    left: 30px;
  }
}
.promos .pretitle {
  margin-bottom: 5px;
}
.promos .text--h3 {
  max-width: 278px;
}
@media (max-width: 29.99875em) {
  .promos .text--h3 {
    font-size: 25px;
    max-width: 194px;
  }
}

.about-home {
  background-color: var(--color-light-gray);
}
.about-home .text--h2 {
  margin-bottom: 14px;
  max-width: 702px;
}
@media (max-width: 29.99875em) {
  .about-home .text--h2 {
    font-size: 40px;
  }
}
.about-home__text {
  margin-bottom: 46px;
  max-width: 690px;
}

.about-home-container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(15px, 1fr) minmax(0, 715px) minmax(0, 715px) minmax(15px, 1fr);
  align-items: center;
  padding-top: 87px;
  padding-bottom: 113px;
}
@media (max-width: 85.37375em) {
  .about-home-container {
    display: block;
    margin: 0 auto;
    padding-inline: 15px;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 89.375rem;
  }
}
.about-home-container > img {
  grid-column: 1/3;
  margin-left: auto;
  margin-right: -50px;
  max-width: 100%;
}
@media (max-width: 85.37375em) {
  .about-home-container > img {
    position: absolute;
    bottom: 20px;
    right: -70px;
    width: 320px;
  }
}
@media (max-width: 61.99875em) {
  .about-home-container > img {
    display: none;
  }
}
@media (max-width: 29.99875em) {
  .about-home-container button {
    margin: 0 auto;
  }
}

.advantages {
  margin-bottom: 46px;
}
.advantages__item {
  display: flex;
  align-items: center;
}
@media (max-width: 29.99875em) {
  .advantages__item {
    flex-direction: column;
  }
}
.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}
.advantages__image-wrapper {
  flex-shrink: 0;
  margin-right: 19px;
  width: 101px;
  height: 101px;
  background-color: #fff;
  border-radius: 20px;
}
.advantages__image--bowl {
  margin: 23px 0 0 21px;
}
.advantages__image--mailbox {
  margin: 26px 0 0 15px;
}
@media (max-width: 29.99875em) {
  .advantages__title, .advantages__text {
    text-align: center;
  }
}
.advantages__title {
  margin-bottom: 7px;
}
.advantages__text {
  max-width: 444px;
}
@media (max-width: 29.99875em) {
  .advantages__text {
    max-width: 323px;
  }
}

.products-home__container {
  padding-top: 176px;
  padding-bottom: 200px;
}
.products-home__container > .pretitle,
.products-home__container .text--h2 {
  text-align: center;
}
.products-home__container > .text--h2 {
  margin-bottom: 40px;
}
@media (max-width: 29.99875em) {
  .products-home__container > .text--h2 {
    font-size: 45px;
  }
}
.products-home__container > .button-common, .products-home__container > .contact-form__submit, .products-home__container > .product__button {
  margin-top: 122px;
  margin-inline: auto;
}

.testimonial {
  height: 1267px;
  background-image: url("./../images/Home/testimonial-left.png"), url("./../images/Home/testimonial-right.png");
  background-repeat: no-repeat;
  background-position: top 0 left 0, top 0 right 0;
}
@media (max-width: 85.37375em) {
  .testimonial {
    padding-block: 140px;
    height: auto;
    background-image: none;
  }
}
.testimonial__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.testimonial__container > .text--h2 {
  margin-bottom: 60px;
}
@media (max-width: 29.99875em) {
  .testimonial__container > .text--h2 {
    font-size: 35px;
  }
}

.testimonial-swiper {
  width: 100%;
  max-width: 780px;
}
.testimonial-swiper .swiper-pagination {
  bottom: -8px;
}
.testimonial-swiper .swiper-pagination-bullet {
  margin: 0 3px !important;
}
.testimonial-swiper .swiper-pagination-bullet-active {
  background-color: var(--color-secondary);
}

.testimonial-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.testimonial-slide__image {
  margin-bottom: 20px;
  width: 115px;
  height: 115px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.testimonial-slide__rating {
  margin-bottom: 25px;
}
.testimonial-slide__comment {
  margin-bottom: 20px;
}
.testimonial-slide__label {
  margin-bottom: 27px;
  font-size: 15px;
  line-height: 1.7;
}

.counters {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 211px);
  padding-inline: 39px;
}
@media (max-width: 61.99875em) {
  .counters {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-inline: 0;
  }
}
@media (max-width: 29.99875em) {
  .counters {
    grid-template-columns: 1fr;
  }
}
.counters__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.counters__wrapper::before {
  content: "";
  position: relative;
  display: block;
  margin-block: 102px;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  z-index: -1;
}
@media (max-width: 47.99875em) {
  .counters__wrapper::before {
    margin-block: 82px;
  }
}
@media (max-width: 29.99875em) {
  .counters__wrapper::before {
    margin-block: 62px;
  }
}
.counters__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 211px;
  height: 211px;
  color: var(--color-primary);
  font-weight: 600;
  background-color: #f1f1f1;
  border: 4px solid var(--color-secondary);
  border-radius: 50%;
  outline: 6px solid #fff;
  outline-offset: -10px;
}
@media (max-width: 47.99875em) {
  .counters__item {
    width: 200px;
    height: 200px;
  }
}
.counters__item:not(:last-child) {
  margin-right: 62px;
}
@media (max-width: 61.99875em) {
  .counters__item:not(:last-child) {
    margin-right: 0;
  }
}

.offers-home {
  background-color: var(--color-primary);
}
.offers-home__container {
  padding-block: 200px;
}
@media (max-width: 61.99875em) {
  .offers-home__container {
    padding-block: 120px;
  }
}
.offers-home__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media (max-width: 85.37375em) {
  .offers-home__header {
    justify-content: space-around;
  }
}
@media (max-width: 61.99875em) {
  .offers-home__header {
    flex-direction: column;
    align-items: center;
  }
}
.offers-home__header .text--h2 {
  color: #fff;
}
@media (max-width: 61.99875em) {
  .offers-home__header .text--h2 {
    margin-bottom: 30px;
  }
}
@media (max-width: 29.99875em) {
  .offers-home__header .text--h2 {
    font-size: 40px;
  }
}
.offers-home__products li:hover {
  transition-duration: 300ms;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px;
}

.eco__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 931px;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .eco__container {
    height: auto;
  }
}
.eco img {
  position: absolute;
  top: 0;
  right: 50.5%;
  z-index: -1;
}
@media (max-width: 61.99875em) {
  .eco img {
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 47.99875em) {
  .eco img {
    position: static;
    max-height: 360px;
  }
}
@media (max-width: 29.99875em) {
  .eco img {
    max-height: 260px;
  }
}
.eco__content {
  margin-left: auto;
  padding: 78px 72px 77px 89px;
  max-width: 789px;
  border-radius: 30px;
  background-color: #fff;
}
@media (max-width: 61.99875em) {
  .eco__content {
    margin: 0 auto;
  }
}
@media (max-width: 47.99875em) {
  .eco__content {
    padding: 30px 0 90px 0;
  }
}
.eco__content .text--h2, .eco__content li:not(:last-child) {
  margin-bottom: 35px;
}
.eco__content .text--h2 {
  max-width: 619px;
}
@media (max-width: 47.99875em) {
  .eco__content .text--h2 {
    font-size: 40px;
  }
}
@media (max-width: 29.99875em) {
  .eco__content .text--h2 {
    font-size: 33px;
  }
}
.eco__content .text--h6 {
  margin-bottom: 6px;
}
@media (max-width: 29.99875em) {
  .eco__content .text--h6 {
    font-size: 22px;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  background-color: var(--color-light-blue);
  padding-block: 187px;
}
@media (max-width: 85.37375em) {
  .gallery {
    padding-block: 117px;
  }
}
@media (max-width: 61.99875em) {
  .gallery {
    padding-block: 187px;
  }
}
.gallery__list {
  display: grid;
  gap: 42px;
  grid-template-columns: minmax(0, 612px) minmax(0, 612px) minmax(0, 612px);
}
@media (max-width: 85.37375em) {
  .gallery__list {
    gap: 32px;
  }
}
@media (max-width: 61.99875em) {
  .gallery__list {
    display: block;
  }
}
.gallery__list img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 61.99875em) {
  .gallery__list img {
    width: 992px;
    max-width: 100%;
    max-height: 510px;
  }
}
.gallery__item {
  position: relative;
}
@media (max-width: 61.99875em) {
  .gallery__item:not(:last-child) {
    margin-bottom: 42px;
  }
}
.gallery__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 316px;
  height: 96px;
  font-size: 25px;
  font-weight: 600;
  color: var(--color-primary);
  background-color: #fff;
  border-radius: 20px;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color box-shadow;
}
@media (max-width: 85.37375em) {
  .gallery__button {
    width: 260px;
    height: 86px;
    font-size: 22px;
  }
}
@media (max-width: 61.99875em) {
  .gallery__button {
    width: 416px;
    height: 126px;
    font-size: 30px;
  }
}
@media (max-width: 47.99875em) {
  .gallery__button {
    width: 316px;
    height: 96px;
    font-size: 25px;
  }
}
@media (max-width: 29.99875em) {
  .gallery__button {
    width: 260px;
    height: 86px;
    font-size: 22px;
  }
}
.gallery__button:hover {
  background-color: var(--color-light-blue);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.news-home svg {
  fill: var(--color-yellow);
}
.news-home__container {
  padding-top: 177px;
  padding-bottom: 113px;
}
@media (max-width: 85.37375em) {
  .news-home__container {
    padding-top: 127px;
  }
}
@media (max-width: 29.99875em) {
  .news-home__container {
    padding-bottom: 177px;
  }
}
.news-home__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 48px;
}
@media (max-width: 61.99875em) {
  .news-home__header {
    flex-direction: column;
    align-items: center;
  }
}
.news-home__header .text--h2 {
  max-width: 702px;
}
@media (max-width: 61.99875em) {
  .news-home__header .text--h2 {
    margin-bottom: 30px;
  }
}
@media (max-width: 47.99875em) {
  .news-home__header .text--h2 {
    font-size: 40px;
  }
}
@media (max-width: 29.99875em) {
  .news-home__header .text--h2 {
    font-size: 31px;
  }
}

.about-about__content {
  grid-column: 4/6;
  max-width: 675px;
}
.about-about .text--h2 {
  margin-bottom: 14px;
  max-width: 503px;
}
@media (max-width: 29.99875em) {
  .about-about .text--h2 {
    font-size: 40px;
  }
}
.about-about__text {
  margin-bottom: 48px;
}
.about-about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  margin-bottom: 58px;
}
.about-about__item {
  display: flex;
  align-items: center;
}
.about-about__item img {
  margin-right: 15px;
}
.about-about__item .text--h6 {
  max-width: 226px;
}

.about-about-container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(15px, 1fr) minmax(0, 715px) 40px minmax(0, 675px) minmax(15px, 1fr);
  align-items: center;
  padding-top: 163px;
  padding-bottom: 70px;
}
@media (max-width: 85.37375em) {
  .about-about-container {
    display: block;
    margin: 0 auto;
    padding-inline: 15px;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 89.375rem;
  }
}
@media (max-width: 47.99875em) {
  .about-about-container {
    padding-top: 100px;
  }
}
.about-about-container > img {
  grid-column: 1/3;
  margin-left: auto;
  max-width: 100%;
}
@media (max-width: 85.37375em) {
  .about-about-container > img {
    position: absolute;
    top: 50px;
    right: -10px;
    width: 300px;
    z-index: -1;
  }
}
@media (max-width: 47.99875em) {
  .about-about-container > img {
    display: none;
  }
}
@media (max-width: 29.99875em) {
  .about-about-container button {
    margin: 0 auto;
  }
}

.choose-us {
  background-color: var(--color-light-gray);
}
.choose-us__container {
  padding-block: 190px;
}
@media (max-width: 85.37375em) {
  .choose-us__container {
    padding-block: 160px;
  }
}
@media (max-width: 47.99875em) {
  .choose-us__container {
    padding-block: 140px;
  }
}
@media (max-width: 29.99875em) {
  .choose-us__container {
    padding-block: 120px;
  }
}
.choose-us__content {
  display: flex;
  align-items: center;
  gap: 51px;
  margin-bottom: 91px;
}
@media (max-width: 85.37375em) {
  .choose-us__content {
    margin-bottom: 51px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.choose-us__column {
  max-width: 671px;
}
.choose-us .text--h2 {
  margin-bottom: 25px;
}
@media (max-width: 29.99875em) {
  .choose-us .text--h2 {
    font-size: 38px;
  }
}
.choose-us__text {
  margin-bottom: 36px;
}
.choose-us img {
  width: 100%;
  max-width: 678px;
  max-height: 580px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
@media (max-width: 85.37375em) {
  .choose-us img {
    max-height: 296px;
  }
}
@media (max-width: 29.99875em) {
  .choose-us img {
    max-height: 206px;
    border-radius: 15px;
  }
}

.about-benefits__item:not(:last-child) {
  margin-bottom: 24px;
}
.about-benefits__title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 29px 27px;
  width: 100%;
  max-width: 339px;
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: normal;
  background-color: #ececec;
  border-radius: 50px;
}
@media (max-width: 29.99875em) {
  .about-benefits__title {
    padding-block: 20px;
  }
}
.about-benefits__title::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 4px solid var(--color-secondary);
  border-radius: 50%;
}
.about-benefits__text {
  margin-left: 60px;
  max-width: 444px;
}

.about-features {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
@media (max-width: 85.37375em) {
  .about-features {
    margin: 0 auto;
    max-width: 544px;
  }
}
.about-features__item {
  padding: 50px 25px 45px 25px;
  max-width: 257px;
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
}
@media (max-width: 47.99875em) {
  .about-features__item {
    padding: 33px 22px;
  }
}
.about-features__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px auto;
  width: 95px;
  height: 95px;
  border-radius: 18px;
  background-color: var(--color-light-gray);
}
.about-features img {
  width: auto;
}
.about-features .text--h6 {
  margin-bottom: 12px;
}

.experts-about__container {
  padding-top: 150px;
  padding-bottom: 120px;
}
@media (max-width: 47.99875em) {
  .experts-about__container {
    padding-top: 110px;
    padding-bottom: 90px;
  }
}
.experts-about__text-container {
  margin: 0 auto;
  margin-bottom: 42px;
  text-align: center;
  max-width: 852px;
}
.experts-about .text--h2 {
  margin-bottom: 16px;
}
@media (max-width: 29.99875em) {
  .experts-about .text--h2 {
    font-size: 45px;
  }
}

.offers-about {
  background-color: var(--color-primary);
}
.offers-about__container {
  padding-block: 188px;
  text-align: center;
}
@media (max-width: 61.99875em) {
  .offers-about__container {
    padding-block: 168px;
  }
}
@media (max-width: 47.99875em) {
  .offers-about__container {
    padding-block: 148px;
  }
}
@media (max-width: 29.99875em) {
  .offers-about__container {
    padding-block: 128px;
  }
}
.offers-about .text--h2 {
  margin-bottom: 33px;
  color: #fff;
}
.offers-about__item {
  width: 100%;
  max-width: 335px;
}
.offers-about__item img {
  width: inherit;
  max-width: 100%;
}
@media (max-width: 47.99875em) {
  .offers-about__list {
    gap: 69px;
  }
}
.offers-about__link {
  display: block;
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.offers-about__link:hover {
  box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px;
}
.offers-about__item-title {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: normal;
}

.shop-products__container {
  padding-top: 90px;
}

@media (max-width: 47.99875em) {
  .projects-banner {
    background-position: top 0 left 25%;
  }
}

.projects__container {
  margin-top: 150px;
}
@media (max-width: 47.99875em) {
  .projects__container {
    margin-top: 110px;
  }
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 23px;
       column-gap: 23px;
  row-gap: 43px;
}

.projects-link {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.projects-link:hover .projects-link__overlay {
  opacity: 1;
}
.projects-link img {
  width: 100%;
  border-radius: 30px;
}
.projects-link__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.91);
  width: 88.9135254989%;
  height: 89.0736342043%;
  border-radius: 30px;
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-link__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background-color: var(--color-secondary);
  border-radius: 50%;
}

@media (max-width: 47.99875em) {
  .news-banner {
    background-position: top 0 left 34%;
  }
}
@media (max-width: 29.99875em) {
  .news-banner .text--h1 {
    font-size: 45px;
  }
}

.news svg {
  fill: var(--color-secondary);
}
.news__container {
  padding-top: 120px;
  padding-bottom: 65px;
}
@media (max-width: 29.99875em) {
  .news__container {
    padding-top: 110px;
    padding-bottom: 177px;
  }
}
.news .button-common, .news .contact-form__submit, .news .product__button {
  padding: 0;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: #fff;
}
.news .button-common:hover, .news .contact-form__submit:hover, .news .product__button:hover {
  box-shadow: none;
}

.grow {
  position: relative;
  z-index: 1;
  background-color: var(--color-light-gray);
}
.grow__container {
  padding-block: 202px;
}
@media (max-width: 85.37375em) {
  .grow__container {
    padding-block: 172px;
  }
}
@media (max-width: 47.99875em) {
  .grow__container {
    padding-block: 142px;
  }
}
@media (max-width: 29.99875em) {
  .grow__container {
    padding-block: 112px;
  }
}
.grow .pretitle, .grow .text--h2 {
  text-align: center;
}
.grow .text--h2 {
  margin: 0 auto;
  margin-bottom: 108px;
  max-width: 482px;
}
@media (max-width: 85.37375em) {
  .grow .text--h2 {
    margin-bottom: 78px;
  }
}
@media (max-width: 29.99875em) {
  .grow .text--h2 {
    font-size: 44px;
  }
}
.grow__content {
  display: grid;
  grid-template-columns: minmax(0, 28.36%) minmax(0, 743px) minmax(0, 28.36%);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 138px;
}
@media (max-width: 85.37375em) {
  .grow__content {
    margin-bottom: 108px;
  }
}
@media (max-width: 61.99875em) {
  .grow__content {
    display: flex;
    -moz-column-gap: 90px;
         column-gap: 90px;
  }
}
@media (max-width: 47.99875em) {
  .grow__content {
    flex-direction: column;
  }
}
.grow__column {
  position: relative;
}
.grow__column:nth-last-of-type(2) {
  margin-inline: -68px;
}
@media (max-width: 61.99875em) {
  .grow__column:nth-last-of-type(2) {
    display: none;
  }
}
.grow__main-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 990px;
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: multiply;
  z-index: -1;
}
.grow .button-common, .grow .contact-form__submit, .grow .product__button {
  margin: 0 auto;
}

.services-item:not(:last-child) {
  margin-bottom: 39px;
}
@media (max-width: 47.99875em) {
  .services-item:nth-child(odd) {
    text-align: right;
  }
}
.services-item--left {
  text-align: right;
}
@media (max-width: 47.99875em) {
  .services-item--left:nth-child(odd) {
    text-align: left;
  }
}
.services-item img, .services-item .text--h6 {
  margin-bottom: 5px;
}
.services-item img {
  width: auto;
  height: 58px;
}
@media (max-width: 47.99875em) {
  .services-item p {
    max-width: 490px;
  }
}

.services-video {
  height: 1073px;
  background-image: url("./../images/Services/video-thumb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 47.99875em) {
  .services-video {
    height: 873px;
  }
}
.services-video__container {
  padding-top: 180px;
  text-align: center;
}
@media (max-width: 47.99875em) {
  .services-video__container {
    padding-top: 110px;
  }
}
.services-video .text--h2 {
  margin-bottom: 24px;
}
@media (max-width: 47.99875em) {
  .services-video .text--h2 {
    font-size: 46px;
  }
}
.services-video__text {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 671px;
}
.services-video__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 107px;
  height: 107px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services-video__button:hover {
  box-shadow: -4px 10px 12px #dad1b5;
}
.services-video__button:hover svg {
  transform: scale(1.5);
}
.services-video__button svg {
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.video-backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 500ms opacity cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  z-index: 5;
}
.video-backdrop--visible {
  opacity: 1;
  pointer-events: all;
}

.video-modal {
  display: flex;
  width: 1280px;
  height: 720px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
@media (max-width: 85.37375em) {
  .video-modal {
    width: 854px;
    height: 480px;
  }
}
@media (max-width: 61.99875em) {
  .video-modal {
    width: 640px;
    height: 360px;
  }
}
@media (max-width: 47.99875em) {
  .video-modal {
    width: 426px;
    height: 240px;
  }
}

@media (max-width: 47.99875em) {
  .team-banner .text--h1 {
    max-width: 220px;
    text-align: center;
  }
}

.team__container {
  padding-top: 150px;
}
@media (max-width: 47.99875em) {
  .team__container {
    padding-top: 125px;
  }
}
@media (max-width: 29.99875em) {
  .team__container {
    padding-top: 100px;
  }
}
.team__text-container {
  margin: 0 auto;
  margin-bottom: 42px;
  max-width: 852px;
  text-align: center;
}
.team__text-container .text--h2 {
  margin-bottom: 16px;
}

.contact-info__container {
  display: flex;
  align-items: center;
  gap: 75px;
  padding-top: 209px;
}
@media (max-width: 61.99875em) {
  .contact-info__container {
    gap: 50px;
    flex-direction: column;
    padding-top: 159px;
  }
}
@media (max-width: 47.99875em) {
  .contact-info__container {
    gap: 40px;
    padding-top: 129px;
  }
}
@media (max-width: 29.99875em) {
  .contact-info__container {
    padding-top: 99px;
  }
}
.contact-info__container .text--h2 {
  margin-bottom: 14px;
}
@media (max-width: 29.99875em) {
  .contact-info__container .text--h2 {
    font-size: 35px;
  }
}
.contact-info__main-image-wrapper {
  width: 100%;
  max-width: 623px;
}
@media (max-width: 61.99875em) {
  .contact-info__main-image-wrapper {
    max-width: 100%;
  }
}
.contact-info__main-image-wrapper > img {
  width: inherit;
  height: 640px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 61.99875em) {
  .contact-info__main-image-wrapper > img {
    max-height: 323px;
    height: auto;
  }
}
@media (max-width: 47.99875em) {
  .contact-info__main-image-wrapper > img {
    max-height: 223px;
  }
}
@media (max-width: 29.99875em) {
  .contact-info__main-image-wrapper > img {
    max-height: 123px;
  }
}
@media (max-width: 61.99875em) {
  .contact-info__text-container {
    max-width: 834px;
    text-align: center;
  }
}
.contact-info__content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
@media (max-width: 61.99875em) {
  .contact-info__content .socials {
    margin: 0 auto;
  }
}

@media (max-width: 61.99875em) {
  .info-list {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 47.99875em) {
  .info-list {
    display: block;
    margin: 0 auto;
  }
}
.info-list__item:not(:last-child) {
  margin-bottom: 17px;
}
@media (max-width: 29.99875em) {
  .info-list__item:not(:last-child) {
    margin-bottom: 33px;
  }
}
.info-list__link {
  display: flex;
  align-items: center;
  padding: 12px;
  max-width: 352px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 16px;
}
@media (max-width: 29.99875em) {
  .info-list__link {
    padding: 0;
  }
}
.info-list__link:hover {
  box-shadow: 0px 12px 19px rgba(200, 200, 200, 0.25);
}
.info-list__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 19px;
  width: 89px;
  height: 89px;
  border-radius: 11px;
  background-color: #f4f4f4;
}
@media (max-width: 29.99875em) {
  .info-list__image-wrapper {
    width: 69px;
    height: 69px;
  }
}

.contact-location__container {
  padding-top: 98px;
}
.contact-location__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 758px;
  background-image: url("./../images/Contact/leaf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}
@media (max-width: 61.99875em) {
  .contact-location__wrapper {
    justify-content: center;
  }
}
@media (max-width: 47.99875em) {
  .contact-location__wrapper {
    padding-inline: 28px;
  }
}
@media (max-width: 29.99875em) {
  .contact-location__wrapper {
    padding-inline: 0;
    height: 558px;
    background-image: none;
  }
}

.location-content {
  margin-right: 108px;
  padding: 46px 53px;
  max-width: 514px;
  background-color: #fff;
  border-radius: 30px;
}
@media (max-width: 61.99875em) {
  .location-content {
    margin-right: 0;
  }
}
@media (max-width: 29.99875em) {
  .location-content {
    padding: 32px 26px;
    background-color: var(--color-light-gray);
  }
}
.location-content__text-container {
  margin-bottom: 19px;
}
.location-content__text-container .pretitle {
  margin-bottom: -4px;
}
.location-content__text-container .text--h2 {
  margin-bottom: 10px;
}

.location-list__item {
  display: flex;
}
.location-list__item:not(:last-child) {
  margin-bottom: 22px;
}
.location-list__item img {
  margin-right: 6px;
}
.location-list__city {
  font-weight: 700;
}

.contact-form__container {
  padding-top: 80px;
}
.contact-form__form {
  margin: 0 auto;
  max-width: 1184px;
}
.contact-form__row {
  display: flex;
  margin-bottom: 50px;
  gap: 46px;
}
@media (max-width: 47.99875em) {
  .contact-form__row {
    display: block;
    margin-bottom: 26px;
  }
}
.contact-form__input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 569px;
}
@media (max-width: 47.99875em) {
  .contact-form__input-wrapper {
    margin-bottom: 26px;
    max-width: 100%;
  }
}
.contact-form__label {
  margin-bottom: 26px;
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  line-height: normal;
}
.contact-form__input, .contact-form__textarea {
  border: 1px solid var(--color-secondary);
  border-radius: 16px;
  outline: none;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus, .contact-form__textarea:focus {
  box-shadow: rgba(126, 182, 147, 0.3) 0px 0px 0px 3px;
}
.contact-form__input::-moz-placeholder, .contact-form__textarea::-moz-placeholder {
  font-style: italic;
  opacity: 0.6;
}
.contact-form__input::placeholder, .contact-form__textarea::placeholder {
  font-style: italic;
  opacity: 0.6;
}
.contact-form__input {
  padding-inline: 23px;
  width: inherit;
  height: 80px;
}
.contact-form__textarea-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.contact-form__textarea {
  padding: 28px 23px;
  width: 100%;
  resize: none;
}
@media (max-width: 29.99875em) {
  .contact-form__submit {
    margin: 0 auto;
  }
}

.footer {
  margin-top: auto;
}
.footer__container {
  padding-top: 140px;
  padding-bottom: 110px;
}
@media (max-width: 47.99875em) {
  .footer__container {
    padding-top: 100px;
    padding-bottom: 55px;
  }
}
.footer__content {
  display: grid;
  grid-template-columns: 285px auto 285px;
  justify-content: center;
}
@media (max-width: 61.99875em) {
  .footer__content {
    display: flex;
  }
}
@media (max-width: 47.99875em) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}
@media (max-width: 61.99875em) {
  .footer__content div {
    width: 50%;
  }
}
@media (max-width: 47.99875em) {
  .footer__content div {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.footer__title {
  margin-bottom: 32px;
}

.footer-contacts {
  padding: 0 51px;
  text-align: right;
}
@media (max-width: 47.99875em) {
  .footer-contacts {
    text-align: center;
  }
}
@media (max-width: 29.99875em) {
  .footer-contacts {
    padding: 0;
  }
}
.footer-contacts__item {
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media (max-width: 47.99875em) {
  .footer-contacts__item {
    align-items: center;
  }
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 31px;
}
.footer-contacts__label {
  font-weight: 700;
}
.footer-contacts__link {
  width: -moz-fit-content;
  width: fit-content;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 42px;
  height: 336px;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
}
@media (max-width: 61.99875em) {
  .footer-socials {
    margin-bottom: 80px;
    height: auto;
    border: none;
  }
}
@media (max-width: 29.99875em) {
  .footer-socials {
    margin-bottom: 60px;
    padding: 0;
  }
}
.footer-socials__text {
  margin-top: 23px;
  margin-bottom: 49px;
  max-width: 543px;
}

.footer-pages {
  padding: 0 51px;
}
@media (max-width: 47.99875em) {
  .footer-pages {
    text-align: center;
  }
}
@media (max-width: 29.99875em) {
  .footer-pages {
    padding: 0;
  }
}
.footer-pages__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-copyright {
  border-top: 1px solid #d4d4d4;
}
.footer-copyright__container {
  padding-block: 16px;
  text-align: center;
}
@media (max-width: 47.99875em) {
  .footer-copyright__container p {
    margin: 0 auto;
    max-width: 385px;
  }
}

.cart {
  position: fixed;
  top: 0;
  right: -696px;
  padding: 40px;
  width: 680px;
  height: 100vh;
  background-color: #fff;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transition: right 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 50ms;
  overflow-y: auto;
  z-index: 11;
}
@media (max-width: 47.99875em) {
  .cart {
    right: -103%;
    padding: 20px;
    width: 100%;
  }
}
@media (max-width: 29.99875em) {
  .cart {
    padding: 15px;
  }
}
.cart__backdrop {
  inset: 0;
}
.cart__backdrop--active {
  opacity: 1;
  pointer-events: all;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.cart__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 29.99875em) {
  .cart__header {
    margin-bottom: 20px;
  }
}
.cart__notification {
  padding-block: 120px;
}
.cart__notification .text--h4 {
  color: var(--color-text);
  text-align: center;
  opacity: 0.5;
}
.cart__backdrop--active + .cart {
  right: 0;
}
.cart__list {
  margin-bottom: 60px;
}
@media (max-width: 29.99875em) {
  .cart__list {
    margin-bottom: 30px;
  }
}
.cart__total {
  display: flex;
  justify-content: end;
}
.cart__total .text--h5:first-child {
  margin-right: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 29.99875em) {
  .cart-product {
    gap: 10px;
    padding-block: 10px;
  }
}
.cart-product:not(:last-child) {
  border-bottom: 1px solid #dadada;
}
.cart-product img {
  min-width: 140px;
  height: 140px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 29.99875em) {
  .cart-product img {
    min-width: 70px;
    height: 70px;
  }
}
.cart-product .text--h6 {
  font-size: 20px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media (max-width: 29.99875em) {
  .cart-product .text--h6 {
    font-size: 18px;
  }
}
.cart-product .product__price, .cart-product .product__discount {
  margin-bottom: 10px;
}
.cart-product__delete {
  margin-left: auto;
}
.cart-product__delete svg {
  pointer-events: none;
}

.product-quantity {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
  overflow: hidden;
}
.product-quantity__button {
  width: 40px;
  height: 40px;
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  background-color: var(--color-yellow);
}
.product-quantity__input {
  width: 50px;
  border-top: 2px solid var(--color-yellow);
  border-bottom: 2px solid var(--color-yellow);
  text-align: center;
  pointer-events: none;
}