{% extends "layouts/default.twig" %}

{% block content %}
	{% include
  './components/page-banner.twig' with {'page_heading': 'Recent News', 'image':
  './images/news-banner.jpg', 'classes': 'news-banner'} %}
	<section class="news">
		<div class="news__container">
			<ul class="blogs">
				{% for blog in blogs %}
					{% include './components/blog-post.twig' %}
				{% endfor %}
			</ul>
		</div>
	</section>
	{% include './components/newsletter.twig' %}
{% endblock %}
