[class*='__container'] {
  margin: 0 auto;
  padding: 0 rem($containerPadding);
  max-width: rem($maxWidthContainer);
}

.text {
  color: var(--color-primary);
  font-weight: 700;
  line-height: 1.17;
  font-family: $fontFamilyTitle;

  &--h1 {
    font-size: 70px;
  }
  &--h2 {
    font-size: 50px;
  }
  &--h3 {
    font-size: 40px;
  }
  &--h4 {
    font-size: 35px;
  }
  &--h5 {
    font-size: 30px;
  }
  &--h6 {
    font-size: 25px;
  }
}

.pretitle {
  margin-bottom: 8px;
  color: var(--color-secondary);
  font-size: 36px;
  font-family: $fontFamilyPretitle;
  line-height: normal;

  &--white {
    color: #fff;
  }

  &--small {
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 22px;
  }
}

.button-common {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 28px 39px;
  max-height: 79px;
  min-width: 220px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  font-family: $fontFamilyTitle;
  background-color: var(--color-primary);
  border-radius: 16px;
  transition: box-shadow 300ms $transitionBase;

  & svg {
    transition: transform 300ms $transitionBase;
  }

  &:hover {
    box-shadow: $shadowHoverBtn;

    & svg {
      transform: scale(1.5);
    }
  }

  &--yellow {
    color: var(--color-primary);
    background-color: #efd372;
  }

  &--white {
    color: var(--color-primary);
    background-color: #fff;
    outline: 2px solid var(--color-primary);
  }
}

.link-hover {
  &:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}

.locked {
  overflow: hidden;
  touch-action: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
