<section class="newsletter">
  <div class="newsletter__container">
    <div class="newsletter__wrapper">
      <h2 class="text text--h2">Subscribe to our Newsletter</h2>

      <form class="newsletter__form">
        <input type="text" placeholder="Your Email Address" />
        {% include './button.twig' with {'text': 'Subscribe', classes:
        'button-common'} %}
      </form>
    </div>
  </div>
</section>
