.about-home {
  background-color: var(--color-light-gray);

  &__title {
    margin-top: 8px;
    margin-bottom: 14px;
    max-width: 702px;

    @media (max-width: $mobileSmall) {
      font-size: 40px;
    }
  }

  &__text {
    margin-bottom: 46px;
    max-width: 690px;
  }
}

.about-home-container {
  display: grid;
  grid-template-columns:
    minmax($containerPadding + px, 1fr)
    minmax(0, calc($maxWidthContainer / 2) + px)
    minmax(0, calc($maxWidthContainer / 2) + px)
    minmax($containerPadding + px, 1fr);
  align-items: center;
  padding-top: 186px;
  padding-bottom: 199px;

  @media (max-width: $laptop) {
    display: block;
    margin: 0 auto;
    padding: 136px $containerPadding + px 150px $containerPadding + px;
    width: fit-content;
    max-width: rem($maxWidthContainer);
  }

  @media (max-width: $tablet) {
    padding: 100px $containerPadding + px 100px $containerPadding + px;
  }

  & > img {
    grid-column: 1 / 3;
    margin-left: auto;
    margin-right: -50px;
    max-width: 100%;

    @media (max-width: $laptop) {
      display: none;
    }
  }

  & button {
    @media (max-width: $mobileSmall) {
      margin: 0 auto;
    }
  }
}

.advantages {
  margin-bottom: 46px;

  &__item {
    display: flex;
    align-items: center;

    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__image-wrapper {
    flex-shrink: 0;
    margin-right: 19px;
    width: 101px;
    height: 101px;
    background-color: #fff;
    border-radius: 20px;
  }

  &__image {
    &--bowl {
      margin: 23px 0 0 21px;
    }

    &--mailbox {
      margin: 26px 0 0 15px;
    }
  }

  &__title,
  &__text {
    @media (max-width: $mobileSmall) {
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 7px;
  }

  &__text {
    max-width: 444px;

    @media (max-width: $mobileSmall) {
      max-width: 323px;
    }
  }
}
