.experts-about {
  &__container {
    padding-top: 150px;
    padding-bottom: 120px;

    @media (max-width: $mobileMedium) {
      padding-top: 110px;
      padding-bottom: 90px;
    }
  }

  &__text-container {
    margin: 0 auto;
    margin-bottom: 42px;
    text-align: center;
    max-width: 852px;
  }

  & .text--h2 {
    margin-bottom: 16px;

    @media (max-width: $mobileSmall) {
      font-size: 45px;
    }
  }
}
