.news-banner {
  @media (max-width: $mobileMedium) {
    background-position: top 0 left 34%;
  }

  & .text--h1 {
    @media (max-width: $mobileSmall) {
      font-size: 45px;
    }
  }
}

.news {
  & svg {
    fill: var(--color-secondary);
  }

  &__container {
    padding-top: 120px;
    padding-bottom: 65px;

    @media (max-width: $mobileSmall) {
      padding-top: 110px;
      padding-bottom: 177px;
    }
  }

  & .button-common {
    padding: 0;
    min-width: fit-content;
    background-color: #fff;

    &:hover {
      box-shadow: none;
    }
  }
}
