.news {
  &__container {
    padding-top: 177px;
    padding-bottom: 251px;

    @media (max-width: $laptop) {
      padding-top: 127px;
      padding-bottom: 201px;
    }

    @media (max-width: $mobileSmall) {
      padding-bottom: 281px;
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 48px;

    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }

    & .text--h2 {
      max-width: 702px;

      @media (max-width: $tablet) {
        margin-bottom: 30px;
      }

      @media (max-width: $mobileMedium) {
        font-size: 40px;
      }

      @media (max-width: $mobileSmall) {
        font-size: 31px;
      }
    }
  }
}
