.offers-home {
  background-color: var(--color-primary);

  &__container {
    padding-block: 200px;

    @media (max-width: $tablet) {
      padding-block: 120px;
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 50px;

    @media (max-width: $laptop) {
      justify-content: space-around;
    }

    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }

    & .text--h2 {
      color: #fff;

      @media (max-width: $tablet) {
        margin-bottom: 30px;
      }

      @media (max-width: $mobileSmall) {
        font-size: 40px;
      }
    }
  }
}
