.products-home {
  &__container {
    padding-top: 176px;
    padding-bottom: 200px;

    & > .pretitle,
    .text--h2 {
      text-align: center;
    }

    & > .text--h2 {
      margin-bottom: 40px;

      @media (max-width: $mobileSmall) {
        font-size: 45px;
      }
    }

    & > .button-common {
      margin-top: 122px;
      margin-inline: auto;
    }
  }
}
