<div>
  <div class="cart__backdrop"></div>

  <div class="cart">
    <div class="cart__header">
      <h3 class="text text--h3">Cart</h3>
      <button class="cart__close" type="button">
        <svg width="22" height="22">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <div class="cart__notification">
      <h3 class="text text--h4">Cart is Empty</h3>
    </div>

    <ul class="cart__list"></ul>

    <div class="cart__total">
      <h5 class="text text--h5">Total:</h5>
      <span class="cart__total-value text text--h5">0</span>
      <span class="text text--h5">$</span>
    </div>
  </div>
</div>
