<section class="contact-info">
  <div class="contact-info__container">
    <div class="contact-info__main-image-wrapper">
      <img src="./images/Contact/fruits.jpg" alt="fruits" />
    </div>

    <div class="contact-info__content">
      <div class="contact-info__text-container">
        <h2 class="text text--h2">
          We'd love to talk about how we can work together
        </h2>
        <p>
          Simply dummy text of the printing and typesetting industry. Lorem had
          ceased to been the industry's standard dummy text ever since the
          1500s, when an unknown printer took a galley.
        </p>
      </div>

      <ul class="info-list">
        <li class="info-list__item">
          <a class="info-list__link" href="mailto:support@organic.com">
            <div class="info-list__image-wrapper">
              <img
                src="./images/Contact/icon-mail.png"
                alt="mail"
                width="46"
                height="36"
              />
            </div>

            <div>
              <h6 class="text text--h6">Message</h6>
              <p>support@organic.com</p>
            </div>
          </a>
        </li>
        <li class="info-list__item">
          <a class="info-list__link" href="tel:+01123456789">
            <div class="info-list__image-wrapper">
              <img
                src="./images/Contact/icon-phone.png"
                alt="phone"
                width="48"
                height="49"
              />
            </div>

            <div>
              <h6 class="text text--h6">Call</h6>
              <p>+01 123 456 789</p>
            </div>
          </a>
        </li>
      </ul>

      {% include './../components/socials.twig' %}
    </div>
  </div>
</section>
