<section class="eco">
  <div class="eco__container">
    <img
      src="./images/Home/eco.jpg"
      alt="green field"
      data-da=".eco, 767.98, 0"
    />

    <div class="eco__content">
      <p class="pretitle">Eco Friendly</p>
      <h2 class="text text--h2">Econis is a Friendly Organic Store</h2>

      <ul>
        <li>
          <h6 class="text text--h6">Start with Our Company First</h6>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptat
            accusantium doloremque laudantium. Sed ut perspiciatis.
          </p>
        </li>
        <li>
          <h6 class="text text--h6">Learn How to Grow Yourself</h6>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptat
            accusantium doloremque laudantium. Sed ut perspiciatis.
          </p>
        </li>
        <li>
          <h6 class="text text--h6">Farming Strategies of Today</h6>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptat
            accusantium doloremque laudantium. Sed ut perspiciatis.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
