<section class="experts-about">
  <div class="experts-about__container">
    <div class="experts-about__text-container">
      <p class="pretitle">Team</p>
      <h2 class="text text--h2">Our Organic Experts</h2>
      <p>
        Simply dummy text of the printing and typesetting industry. Lorem had
        ceased to been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley.
      </p>
    </div>

    <ul class="experts">
      {% for expert in experts|slice(0, 3) %} {% include
      './../components/expert-card.twig' %} {% endfor %}
    </ul>
  </div>
</section>
