<section class="gallery">
  <ul class="gallery__list">
    <li class="gallery__item">
      <img
        src="./images/Home/gallery-1.jpg"
        alt="a bottle of smoothie on a book"
      />
      <button class="gallery__button" type="button">Organic Juice</button>
    </li>
    <li class="gallery__item">
      <img src="./images/Home/gallery-2.jpg" alt="chopped vegetables" />
      <button class="gallery__button" type="button">Organic Food</button>
    </li>
    <li class="gallery__item">
      <img src="./images/Home/gallery-3.jpg" alt="cookies and marshmallows" />
      <button class="gallery__button" type="button">Nuts Cookies</button>
    </li>
  </ul>
</section>
