<header class="header">
	<div class="header__container">
		<div class="header__menu-block">
			<button class="header__burger">
				<svg width="32" height="24">
					<use href="./images/icons.svg#icon-burger-menu"></use>
				</svg>
			</button>
		</div>

		<div class="menu__wrapper">
			<div class="menu__backdrop"></div>

			<div data-da=".header__menu-block, 1365.98">
				{% include "./../components/logo.twig" %}
			</div>

			<nav class="menu">
				<div class="menu__menu-block">
					<button class="menu__btn-close" type="button">
						<svg width="22" height="22">
							<use href="./images/icons.svg#icon-close"></use>
						</svg>
					</button>
				</div>

				<ul class="menu__list">
					<li>
						<a href="./index.html" class="menu__link">Home</a>
					</li>
					<li>
						<a href="#" class="menu__link">About</a>
					</li>
					<li>
						<div class="menu-dropdown">
							<button class="menu-dropdown__btn" type="button">
								Pages
								<svg class="menu-dropdown__icon" width="8" height="6">
									<use href="./images/icons.svg#icon-chevron-down"></use>
								</svg>
							</button>

							<ul class="menu-dropdown__options menu-dropdown__options--hidden">
								<li class="menu-dropdown__item">
									<a href="#">Service</a>
								</li>
								<li class="menu-dropdown__item">
									<a href="#">Team</a>
								</li>
								<li class="menu-dropdown__item">
									<a href="#">Contacts</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href="#" class="menu__link">Shop</a>
					</li>
					<li>
						<a href="#" class="menu__link">Projects</a>
					</li>
					<li>
						<a href="#" class="menu__link">News</a>
					</li>
				</ul>
			</nav>

		</div>

		<div class="header-actions" data-da=".menu, 767.98, 1">
			<div class="header-actions__search">
				<input class="header-actions__input" type="text" placeholder="Search">
				<button class="header-actions__button header-actions__button--search" type="button">
					<svg width="21" height="21">
						<use href="./images/icons.svg#icon-search"></use>
					</svg>
				</button>
			</div>

			<div class="header-actions__cart" data-da=".menu__menu-block, 767.98, 0">
				<button class="header-actions__button header-actions__button--cart" type="button">
					<svg width="24" height="22">
						<use href="./images/icons.svg#icon-cart"></use>
					</svg>
				</button>
				Cart (0)
			</div>
		</div>
	</div>
</header>
