<section class="hero">
	<div class="hero__container">
		<div class="hero__content">
			<p class="pretitle">100% Natural Food</p>

			<h1 class="hero__title text text--h1">Choose the best healthier way of life</h1>

			{% include './../components/button.twig' with
			{'text': 'Explore Now', 'classes': 'button-common button-common--yellow'} %}
		</div>
	</div>
</section>
