<section class="offers-about">
  <div class="offers-about__container">
    <p class="pretitle">Offer</p>
    <h2 class="text text--h2">What We Offer for You</h2>

    <ul class="offers-about__list products">
      {% for offer in offers %}
      <li class="offers-about__item">
        <a href="#" class="offers-about__link">
          <img src="{{ offer.image }}" alt="{{ offer.title }}" />
        </a>

        <h6 class="offers-about__item-title">{{ offer.title }}</h6>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
