<section class="offers">
	<div class="offers__container">
		<ul class="offers__list">
			<li>
				<a class="offers__link" href="#">
					<img src="./images/Home/offer-1.jpg" alt="banana on the table">

					<div class="offers__content">
						<p class="pretitle pretitle--white">Natural!!</p>
						<h3 class="offers__title offers__title--white text text--h3">Get Garden Fresh Fruits</h3>
					</div>
				</a>
			</li>

			<li>
				<a class="offers__link" href="#">
					<img src="./images/Home/offer-2.jpg" alt="peaches">

					<div class="offers__content">
						<p class="pretitle">Offer!!</p>
						<h3 class="offers__title text text--h3">Get 10% off on Vegetables</h3>
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>
