<section class="offers-home">
  <div class="offers-home__container">
    <div class="offers-home__header">
      <div>
        <p class="pretitle">Offer</p>
        <h2 class="text text--h2">We Offer Organic For You</h2>
      </div>

      {% include './../components/button.twig' with {'text': 'View All Product',
      classes: 'button-common button-common--yellow'} %}
    </div>

    <ul class="offers-home__products products"></ul>
  </div>
</section>
