<section class="products-home">
  <div class="products-home__container">
    <p class="pretitle">Categories</p>
    <h2 class="products-home__title text text--h2">Our Products</h2>

    <ul class="products"></ul>

    {% include './../components/button.twig' with {'text': 'Load More',
    'classes': 'button-common load-more-btn'} %}
  </div>
</section>
