<section class="promos">
  <div class="promos__container">
    <ul class="promos__list">
      <li>
        <a class="promos__link" href="#">
          <img src="./images/Home/offer-1.jpg" alt="banana on the table" />

          <div class="promos__content">
            <p class="pretitle pretitle--white">Natural!!</p>
            <h3 class="text text--h3">Get Garden Fresh Fruits</h3>
          </div>
        </a>
      </li>

      <li>
        <a class="promos__link" href="#">
          <img src="./images/Home/offer-2.jpg" alt="peaches" />

          <div class="promos__content">
            <p class="pretitle">Offer!!</p>
            <h3 class="text text--h3">Get 10% off on Vegetables</h3>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
